<!DOCTYPE html>
<html>
<head>
	<title>Corner Kicks SPFL</title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
	<script type="text/javascript"></script>
</head>
<body>

	<div class="header">
		<h1>SPFL Corner Kicks</h1>
		<i class=""></i>
		<h4>Analyse corner kick data from the Scottish Premier Football League</h4>
	</div>

	<div class="selection">
		<form>
			<h4>Select a team</h4>
			<input class="form-control" type="" name="team-name">
		</form>			
		<form>
			<h4>Select a player</h4>
			<input class="form-control" type="" name="player-name">
		</form>
		<form>
			<h4>Select their opponents</h4>
			<input class="form-control" type="" name="opposition">
		</form>
	</div>

	<div class="results">
		<canvas id="draw-results"></canvas>
	</div>

<footer id="footer" class="container">
  <hr>
  <p class="col-sm-12">Share<br>

    <a class="twitter-share-button fa fa-twitter fa-lg socialIcon"
        href="https://twitter.com/intent/tweet?text=moaimusictools.herokuapp.com"
        onClick="MyWindow=window.open('https://twitter.com/intent/tweet?text=Music%20production%20tools%20at%20moaimusictools.herokuapp.com','MyWindow',width=300,height=300); return false;"
        data-size="large" class="fa fa-twitter fa-lg socialIcon">
    </a>
    <div class="fb-share-button" data-href="http://moaimusictools.herokuapp.com" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmoaimusictools.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></div>
  </p>
  <p class="col-sm-4 footerText">Get the code on 
    <a href="https://github.com/moaiii/moaimusictools" target="blank">GitHub</a>
  </p>
  <p class="col-sm-4 footerText">Created by 
    <a href="http://christophermelville.com" target="blank">Chris Melville</a> 
    (<a href="http://soundcloud.com/moai_music" target="blank">MOAI</a>)
  </p>
  <p class="col-sm-4 footerText">
    &copy 2016 
  </p>
</footer>
	
</body>
</html>